<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><h1 class="text-center mb-4">Email address</h1></label>
    <input type="email" class="form-control input-style" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"><h2 class="text-center mb-4">Password</h2></label>
    <input type="password" class="form-control input-style" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-warning">Отправить</button>
  </div>
</form>
