<div class="container w-75">
  <h1 class = "display-1 text-center mb-3 aut-h1">Регистрация</h1>
  <form [formGroup]="registerForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><h1 class="text-center mb-4">Электронный адрес</h1></label>
      <input
        placeholder="jim@dundermifflin.com"
        type="email" class="form-control input-style"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><h2 class="text-center mb-4">Пароль</h2></label>
      <input
        placeholder="password"
        type="password"
        class="form-control input-style"
        id="exampleInputPassword1"
        formControlName="password">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><h2 class="text-center mb-4">Фамилия</h2></label>
      <input
        placeholder="fio"
        type="text"
        class="form-control input-style"
        id="FIO"
        formControlName="fio">
    </div>
    <div class="mb-3 form-check">
    </div>
    <div class="text-center col">
      <button type="submit" class="btn btn-warning" (click)="register()">Зарегистрировать</button>
      <div class="col">
        <a routerLink="" class="btn">Уже есть аккаунт</a>
        <a routerLink="/about" class="btn btn-link">О приложении</a>
      </div>
    </div>
  </form>
</div>

