<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center mb-4">Добавить задачу</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Добавить новую задачу"  [(ngModel)]="newTodo" #nameInput>
      <div class="input-group-append">
          <button class="btn btn-primary" (click)="enterName(nameInput)">Добавить</button>
      </div>
    </div>
    <select class="form-select" [(ngModel)]="selectValues">
      <option value="Все" selected>Все</option>
      <option value="Обычное">Обычное</option>
      <option value="Важное">Важное</option>
    </select>
  </div>
</div>
<br/>
