<div class="d-flex justify-content-between">
  <div style="word-break: break-all;" class = "td-title">{{ task.title}}</div>
    <div style = "display: flex; gap: 20px">
      <button class="btn btn-danger btn-sm float-right" (click)="deleteTask(task.id)">Удалить</button>
      <div class="form-check">
        <input
          class="form-check-input flag-todo"
          type="checkbox"
          [id]="task.id"
          [checked]="task.Flag"
          (change)="checkTask(task.id)"
           >
      </div>
    </div>
</div>
