<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Добавить задачу</h1>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Добавить новую задачу">
        <div class="input-group-append">
          <button class="btn btn-primary">Добавить</button>
        </div>
      </div>

    </div>
  </div>
  <br/>
  <br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Список задач</h1>
      <ul class="list-group">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Задачи</th>
            <th scope="col">Действие</th>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </ul>
    </div>
  </div>
</div>
