 <br />
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Список задач</h1>
      <ul class="list-group">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Задача</th>
            <th scope = 'col'>Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr scope="row" *ngFor="let task of TaskService.tasks">
            <td class = "td-title">{{ task.title}}</td>
            <td>
              <div style = "display: flex; gap: 20px">
                <button class="btn btn-danger btn-sm float-right">Удалить</button>
                <div class="form-check">
                  <input class="form-check-input flag-todo" type="checkbox" value="{{task.id}}" id="flexCheckChecked">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ul>
    </div>
  </div>
