<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="text-center mb-4">Поиск</h2>
<form class = "search-panel d-flex flex-row bd-highlight mb-3" [formGroup]="searchForm" (submit)="searchTasks()">
  <input
    type="text"
    class="form-control"
    placeholder="Поиск задачи"
    formControlName="taskName"
  >
  <app-select-type
    class="w-50"
    [control]="searchForm.controls['taskType']"
    [form]="searchForm"
    [taskTypesValues]="taskTypesValues"
  />

  <button class="btn btn-primary">Поиск</button>
</form>
  </div>
</div>
